@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #ffeded #f8eded; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E08585; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dd7b7b; 
}

::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}


html,
body {
  position: relative;
  height: 100%;
  overflow:hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #101010;
  color: #313131;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  margin-bottom:16px;
}


.mask{
  opacity:0;
/*   mask-image: url(/opv-mask.png); */
/*   mask-position: top center; */
/*   background-color: #ffeded; */

}


  .h1{
    @apply  text-3xl md:text-4xl lg:text-5xl uppercase font-bold
  }

  .h2{
    @apply text-opv-pink-1200 text-2xl lg:text-3xl uppercase mb-3
  }

