@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #ffeded #f8eded; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dd7b7b88; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dd7b7b; 
}

html,
body {
  overflow-x:hidden;
  background-color: #101010;
  color: #313131;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.mask{
  opacity:0;
  mask-image: url(/opv-mask.png);
/*   mask-position: top center; */
/*   background-color: #ffeded; */


}



  .h1{
    @apply pt-6 sm:pt-9 lg:pt-8 pb-2 text-3xl md:text-4xl lg:text-5xl uppercase font-bold
  }

  .h2{
    @apply text-opv-pink-900 text-2xl lg:text-3xl uppercase mb-3
  }




